<% if @user.present? %>
    <table>
      <thead>
        <th>Name</th>
         <th>Email</th>
        <th>Paid Count</th>
        <th>UN Paid Count</th>
        <th>Canceled Count</th>
        <th>Missing Count</th>
         <th>Show User Payment History</th>
      </thead>
      <tbody>
      <% @user.each do |single_data| %>
        <tr>
            <td><%=single_data[:name] %></td>
            <td><%= single_data[:email] %></td>
            <td><%= get_paid_count(single_data) %></td>
            <td><%= get_unpaid_count(single_data)%></td>
            <td><%= get_canceled_count(single_data) %></td>
            <td><%= get_missing_count(single_data) %></td>
            <td><%= link_to "Full Payment History", homes_path(id: single_data[:id]) %></td>
        </tr>
      <%end %>
      </tbody>
    </table>
<%else%>
     <h1>Please send the data</h1>
<%end%>