<% if @user.present? %>
   <h1><%= @user.name %></h1>
  <h6><%= @user.email %></h6>
  <% if @payment_history.present? %>
       <% @payment_history.each do |single_payment_status| %>
         <h1><%= single_payment_status[:status] %></h1>
          <table>
             <thead>
             <th>Order ID</th>
             <th>Order Date</th>
             <th>Received Date</th>
             <th>status</th>
             </thead>
          <% if single_payment_status[:data] %>
               <tbody>
                <% single_payment_status[:data].each do |item| %>

                  <tr>
                    <td><%= item[:id] %></td>
                    <td><%= item[:order_date] %></td>
                    <td><%= item[:received_date] %></td>
                    <td><%= item[:status] %></td>
                  </tr>
                <%end %>
               </tbody>
          <%end%>
          </table>
       <%end%>
  <%end%>
<%end%>